body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
